registry=https://registry.npmmirror.com
unsafe-perm=true
@webdpt:registry=https://repo.digiwincloud.com.cn/maven/repository/npm-webdpt/
@athena:registry=https://repo.digiwincloud.com.cn/maven/repository/npm-athena/