<div nz-row class="forget-bg">
  <div nz-col [nzSpan]="24" class="forget-content">
    <div nz-row class="forget-main-block">
      <div nz-col [nzXs]="'2'" [nzSm]="'4'" [nzMd]="'6'" [nzLg]="'6'" [nzXl]="'8'" [nzXXl]="'9'" >
      </div>
      <div nz-col [nzXs]="'20'" [nzSm]="'16'" [nzMd]="'12'" [nzLg]="'12'" [nzXl]="'8'" [nzXXl]="'6'" [ngClass]=" '' | dwLanguage " >
        <img class="forget-logo" src="{{dwLogoPath | translate}}" alt="logo">
        <dw-forget-block [verificationType]="verificationType"></dw-forget-block>
      </div>
      <div nz-col [nzXs]="'2'" [nzSm]="'4'" [nzMd]="'6'" [nzLg]="'6'" [nzXl]="'8'" [nzXXl]="'9'" >
      </div>
    </div>
    <div nz-row class="forget-copyright-block">
      <div nz-col [nzSpan]="24" class="forget-copyright" >
        <span>© Data Systems Consulting Co., Ltd. All rights reserved.</span>
      </div>
    </div>
  </div>
</div>
