<div nz-row class="login-bg">
  <div nz-col nzSpan="24" class="login-content">
    <div nz-row class="login-main-block">
      <div nz-col [nzXs]="'8'" [nzSm]="'8'" [nzMd]="'9'" [nzLg]="'9'">
      </div>
      <div nz-col [nzXs]="'8'" [nzSm]="'8'" [nzMd]="'6'" [nzLg]="'6'" style="z-index: 1">
        <img class="login-logo" src="{{dwLogoPath | translate}}">
        <dw-login-block [showRemember]="true" [showLanguage]="true" [showLoginTabSet]="true"></dw-login-block>
      </div>
      <div nz-col [nzXs]="'8'" [nzSm]="'8'" [nzMd]="'9'" [nzLg]="'9'">
      </div>
    </div>
    <div nz-row class="login-copyright-block">
      <div nz-col nzSpan="24" class="login-copyright">
        <span>© Data Systems Consulting Co., Ltd. All rights reserved.<span class="version">v{{dwVersion}}</span></span>
      </div>
    </div>
  </div>
</div>

<!-- RWD試驗， .login-form { min-width: 360px } 會造成阻礙
<div nz-row class="login-bg">
  <div nz-col dwSpan="24" class="login-content">
    <div nz-row class="login-main-block">
      <div nz-col [dwXs]="'0'" [dwSm]="'4'" [dwMd]="'6'" [dwLg]="'8'" style="border: 1px solid red;">
      </div>
      <div nz-col [dwXs]="'24'" [dwSm]="'16'" [dwMd]="'12'" [dwLg]="'8'" style="border: 1px solid yellow;">
        <img class="login-logo" src="{{dwLogoPath | translate}}">
        <dw-login-block [showRemember]="true" [showLanguage]="true"></dw-login-block>
      </div>
      <div nz-col [dwXs]="'0'" [dwSm]="'4'" [dwMd]="'6'" [dwLg]="'8'" style="border: 1px solid white;">
      </div>
    </div>
    <div nz-row class="login-copyright-block">
      <div nz-col dwSpan="24" class="login-copyright">
        <span>© Data Systems Consulting Co., Ltd. All rights reserved.<span class="version">v{{dwVersion}}</span></span>
      </div>
    </div>
  </div>
</div>-->
